body
{
    margin: auto;
    width: 1250px;
    height: 10000px;
}
header
{
    background-image:url(../images/logo.png);
    position: fixed;
    margin: auto;
    width: 1250px;
    height: 91px;
}
#logo
{
    margin: auto;
    float: left;
    width: 120px;
    height: 90px;
}
#searcharea
{
    margin: auto;
    margin-left: 5px;
    min-width: 61%;
    float: left;
    height: 90px;
}
#cart
{
    margin-left: 5px;
    float: right;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-image: url(../images/cart.png);
}
#wishlist
{
    margin-left: 5px;
    float: right;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-image: url(../images/wishlist.png);
}
#signin
{
    margin-left: 5px;
    border: 2px solid black;
    float: right;
    width: 150px;
    height: 90px;
}
#nav
{
    border-top:2px solid lightgray;
    position: fixed;
    top: 91.2px;
    width: 1250px;
    height: 64px;
    background-color: #9C5E5E;
}
#man
{
    border-left:2px solid lightgray;
    border-right:2px solid lightgray;
    overflow: hidden;
    position: absolute;
    height: 64px;
    width:18%;
    float: left;
    left: 1%;
}
#woman
{
    border-left:2px solid lightgray;
    border-right:2px solid lightgray;
    overflow: hidden;
    position: absolute;
    height: 64px;
    width:18%;
    float: left;
    left: 21%;
}
#kid
{
    border-left:2px solid lightgray;
    border-right:2px solid lightgray;
    overflow: hidden;
    position: absolute;
    height: 64px;
    width:18%;
    float: left;
    left: 40.8%;
}
#technology
{
    border-left:2px solid lightgray;
    border-right:2px solid lightgray;
    overflow: hidden;
    position: absolute;
    height: 64px;
    width:18%;
    float: left;
    right: 21%;
}
#sport
{
    border-right:2px solid lightgray;
    border-left:2px solid lightgray;
    overflow: hidden;
    position: absolute;
    height: 64px;
    width:18%;
    float: left;
    right: 1%;
}
#nav>div:hover
{
    height: 387px;
    transition:1s;
}
#nav>div:hover .navli {
    transition: 1s;
    visibility: visible;
    background-color: lightgray;
    border: 2px solid darkgray;
}
.navul
{
   
    list-style: none;
    padding: 0;
    background-color:darkgray;
    text-align: center;
}
.navli
{
    visibility: hidden;
    padding-top:  40px;
    
}
.navli1
{
    padding-bottom:  29px;
    background-color: #9C5E5E;
}
a:visited
{
    color: black;
}
a:link
{
     text-decoration: none;
}
#search
{
    float: right;
}
